<?xml version="1.0"?>
<manifest package="com.github.prjm.fstl_e" 
          xmlns:android="http://schemas.android.com/apk/res/android" 
          android:versionName="0.1.0-alpha" 
          android:versionCode="3"
          android:installLocation="auto">
    <application android:hardwareAccelerated="true" 
                 android:name="org.qtproject.qt.android.bindings.QtApplication" 
                 android:label="fstl-e"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round">
        <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" 
                  android:name="org.qtproject.qt.android.bindings.QtActivity" 
                  android:label="fstl-e"
                  android:screenOrientation="unspecified" 
                  android:launchMode="singleTop"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.stl"/>
                <data android:pathPattern=".*\\.3mf"/>
                <data android:host="*"/>
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="fstl_viewer"/>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="32"/>
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34"/>
</manifest>
